.contact-list__body{
    background-color: white;
    width: 48%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    gap:10px;
    padding: 13px;
    overflow-y: auto;
}

.contact-list__search-section{
    width: 98%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:15px;
    margin-top: 1px;
}

.contact-list__search-field{
    justify-content: flex-start;

}

.contact-list__search-field label{
    color: #4682A9; 
    font-size: 20px;
}

.contact-list__search-field input{
    width: 320px;
    height: 50%;
    padding: 1px;
    box-sizing: border-box;
    font-size: 17px;
}

.contact-list__add-contact-button{
    font-size: 30px;
    color: #4682A9;
    top: 25%;
    right: 0;
    margin-right: 1px;
}