.contact-form__list-button{
    font-size: 50px;
    color: #4682A9;
    position: absolute;
    top: 25%;
    right: 0;
    margin-right: 50px;
}

.contact-form__container{
    background-color: white;
    width: 48%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    gap:1px;
    padding: 10px;
}

.contact-form__save-button{
    background-color: #91C8E4;
    color: white;
    border: none;
    border-radius: 5%;
    width: fit-content;
    font-size: 18px;
    margin: 0 auto; 
    display: block;
}