.icon-list{
    font-size: 50px;
    color: #4682A9;
    position: absolute;
    top: 25%;
    right: 0;
    margin-right: 50px;
}

.contact-form_div{
    background-color: white;
    width: 48%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    gap:1px;
    padding: 10px;
}

.contact-form_field{
    margin: 10px 0;
}

.contact-form_field label{
    color: #4682A9; 
    font-size: 18px;
}

.contact-form_field input{
    width: 100%;
    height: 50%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-form_button{
    background-color: #91C8E4;
    color: white;
    border: none;
    border-radius: 5%;
    width: fit-content;
    font-size: 18px;
    margin: 0 auto; 
    display: block;
}