.contact-form_field{
    margin: 10px 0;
}

.contact-form_label{
    color: #4682A9; 
    font-size: 18px;
}

.contact-form_input{
    width: 100%;
    height: 50%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}